<form [formGroup]="formGroup" (submit)="onSubmit($event)">
  <app-text-box [isRequired]="true" labelText="Address 1" formControlName="address1"></app-text-box>
  <app-text-box labelText="Address 2" formControlName="address2"></app-text-box>
  <app-text-box [isRequired]="true" labelText="City" formControlName="city"></app-text-box>
  <app-drop-down [isRequired]="true" labelText="State" formControlName="state" appStateCodes></app-drop-down>
  <app-text-box [isRequired]="true" labelText="Zip Code" formControlName="zipCode"></app-text-box>

  <ng-content></ng-content>
</form>
